body{
  font-family: Arial;
  background: linear-gradient(135deg,#1e3a8a,#0ea5e9);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

body.light{
  background: linear-gradient(135deg,#f8fafc,#e0f2fe);
  color:black;
}

.container{
  background:#1e293b;
  padding:25px;
  border-radius:12px;
  width:320px;
  text-align:center;
}

body.light .container{ background:white; }

button,input{
  width:100%;
  margin:6px 0;
  padding:10px;
  border-radius:8px;
  border:none;
}

button{ background:#38bdf8; cursor:pointer; }
button:hover{ background:#0ea5e9; }

.correct{ background:#22c55e !important; }
.wrong{ background:#ef4444 !important; }

@keyframes shake{
  0%{transform:translateX(0)}
  25%{transform:translateX(-5px)}
  50%{transform:translateX(5px)}
  75%{transform:translateX(-5px)}
  100%{transform:translateX(0)}
}
.shake{ animation:shake 0.4s; }

.mode{
  position:absolute;
  top:15px;
  right:15px;
}
